

<div class="container">

<div id="index">
<h1>This is the game.</h1>
<a href="#" class="btn btn-info" id="createroom">Create New Room</a>
<!-- <a href="#" class="btn btn-warning" id="joinroom">Join Existing Room</a> -->
</div>

<div id="host">
<h3>Players in the Room</h3>
<h6 id="startgamediv"><button class="btn btn-info" id="start_game" disabled="disabled">Start Game</button></h6>
<h6><button class="btn btn-default" id="get_ready">Get Ready</button></h6>
<table id="players" class="table">

</table>
</div>

<div id="join">
<h3>Available Rooms</h3>
<table id="roomslist" class="table">

</table>
</div>

</div>

<script src="/js/jquery.2.2.1.min.js"></script>
<script>
$("#host").hide();
$("#join").show();
$("#index").show();

</script>
