

<div class="container">

<div id="index">
<h1>This is the game.</h1>
<a href="#" class="btn btn-info" id="createroom">Create New Room</a>
<a href="#" class="btn btn-warning" id="joinroom">Join Existing Room</a>
</div>

<div id="host">
<h3>Hosting game...</h3>
<div id="players">

</div>
</div>

<div id="join">
<h3>Available Rooms</h3>
<table id="roomslist">

</table>
</div>

</div>



<script src="/js/jquery.2.2.1.min.js"></script>
<script>
$("#host").hide();
$("#join").hide();
//$("#createroom").click(function() {
//	console.log("Inside create room");
	//var url = '/newroom';
	//$.ajax({
	  //method: "POST",
	  //url: url,
	//})
	  //.done(function( msg ) {
	    //console.log(msg);
	    //if(msg.room != null) {
	    //	console.log(msg.room);
	    //	console.log(msg.room.title);
	    //	console.log("Room created");
	    //	$("#host").show();
	    //	$("#index").hide();
	    //}
	    //else {
	    //	console.log("Room not created.");
	    //}
  	//});

//});

$("#joinroom").click(function() {
	$("#index").hide();
	$("#host").hide();
	$("#join").show();

});
</script>
